- ec2_metadata_facts: null
  name: configure_macos | Retrieve ec2 facts
  when:
  - telegraf_agent_aws_tags
- ansible.builtin.set_fact:
    telegraf_agent_config_path: /usr/local/etc
  name: configure_macos | "Add prefix path"
  when:
  - ansible_os_family in ["FreeBSD", "Darwin"]
- ec2_tag:
    region: '{{ ansible_ec2_placement_region }}'
    resource: '{{ ansible_ec2_instance_id }}'
    state: list
  name: configure_macos | Retrieve all ec2 tags on the instance
  register: ec2_tags
  when:
  - telegraf_agent_aws_tags
- ansible.builtin.template:
    dest: /etc/opt/telegraf/telegraf.conf
    group: '{{ telegraf_mac_group }}'
    mode: '0640'
    owner: '{{ telegraf_mac_user }}'
    src: etc-opt-telegraf-telegraf.conf.j2
  become: true
  name: configure_macos | "Copy the template for versions < 0.10.0"
  notify:
  - Restart Telegraf
  - Restart Telegraf container
  when:
  - telegraf_agent_version is version('0.10.0', '<')
- ansible.builtin.template:
    dest: '{{ telegraf_agent_config_path }}/telegraf.conf'
    group: '{{ telegraf_mac_group }}'
    mode: '0640'
    owner: '{{ telegraf_mac_user }}'
    src: telegraf.conf.j2
  become: true
  name: configure_macos | "Copy the template for versions >= 0.10.0"
  notify:
  - Restart MacOS Telegraf
  - Restart Telegraf container
  when:
  - telegraf_agent_version is version('0.10.0', '>=')
- ansible.builtin.stat:
    path: '{{ telegraf_agent_config_path }}/telegraf.d'
  name: configure_macos | "Check if extra plugins directory exists in case of exclusive"
  register: telegraf_directory
  when:
  - telegraf_plugins_extra_exclusive
- ansible.builtin.file:
    path: '{{ telegraf_agent_config_path }}/telegraf.d/'
    state: absent
  become: true
  name: configure_macos | "Delete telegraf extra plugin path"
  notify:
  - Restart MacOS Telegraf
  - Restart Telegraf container
  when:
  - telegraf_plugins_extra_exclusive
  - telegraf_directory.stat.exists
- ansible.builtin.file:
    group: '{{ telegraf_mac_group }}'
    mode: '0755'
    owner: '{{ telegraf_mac_user }}'
    path: '{{ telegraf_agent_config_path }}/telegraf.d/'
    state: directory
  become: true
  name: configure_macos | "Create telegraf extra plugin path"
  notify:
  - Restart MacOS Telegraf
  - Restart Telegraf container
  when:
  - telegraf_plugins_extra_exclusive
  - telegraf_directory.stat.exists
- ansible.builtin.template:
    dest: '{{ telegraf_agent_config_path }}/telegraf.d/{{ item.key }}.conf'
    group: '{{ telegraf_mac_group }}'
    mode: '0640'
    owner: '{{ telegraf_mac_user }}'
    src: telegraf-extra-plugin.conf.j2
  become: true
  loop_control:
    label: '{{ item.key }}'
  name: configure_macos | "Copy telegraf extra plugins"
  notify:
  - Restart MacOS Telegraf
  - Restart Telegraf container
  when:
  - telegraf_plugins_extra is defined
  - telegraf_plugins_extra is iterable
  - item.value.state|default('present') != 'absent'
  with_dict: '{{ telegraf_plugins_extra }}'
- ansible.builtin.file:
    path: '{{ telegraf_agent_config_path }}/telegraf.d/{{ item.key }}.conf'
    state: absent
  become: true
  loop_control:
    label: '{{ item.key }}'
  name: configure_macos | "Remove telegraf extra plugins"
  notify:
  - Restart MacOS Telegraf
  - Restart Telegraf container
  when:
  - telegraf_plugins_extra is defined
  - telegraf_plugins_extra is iterable
  - item.value.state|default('present') == 'absent'
  with_dict: '{{ telegraf_plugins_extra }}'
- ansible.builtin.meta: flush_handlers
  name: configure_macos | "Force restart service after reread config"
- changed_when: '"Successfully started `telegraf`" in brew_services_start_telegraf.stdout'
  command: brew services start telegraf
  ignore_errors: '{{ ansible_check_mode }}'
  name: configure_macos | "Start Telegraf (If it wasn't running)"
  register: brew_services_start_telegraf
  when: not telegraf_agent_docker
