---
  - ansible.builtin.set_fact:
      telegraf_agent_package: telegraf={{ telegraf_agent_version }}-{{ 
        telegraf_agent_version_patch }}
    name: Debian | Set name if state != latest
    when:
      - telegraf_agent_package_state != "latest"
  - ansible.builtin.set_fact:
      telegraf_agent_package_arch: '{{ ansible_architecture }}'
    name: Debian | Set telegraf_agent_package_arch
  - ansible.builtin.set_fact:
      telegraf_agent_package_arch: amd64
    name: Debian | Set telegraf_agent_package_arch specific for x86_64
    when:
      - ansible_architecture == "x86_64"
  - ansible.builtin.set_fact:
      telegraf_agent_package_arch: armhf
    name: Debian | Set telegraf_agent_package_arch specific for arm64
    when:
      - ansible_architecture == "arm64"
  - ansible.builtin.stat:
      path: /usr/lib/apt/methods/https
    name: Debian | Ensure the system can use the HTTPS transport for APT
    register: apt_https_transport
  - ansible.builtin.apt:
      name: apt-transport-https
      state: present
    become: true
    name: Debian | Install APT HTTPS transport
    register: are_telegraf_dependencies_packages_installed
    until: are_telegraf_dependencies_packages_installed is succeeded
    when:
      - not apt_https_transport.stat.exists
  - block:
      - ansible.builtin.apt_key:
          id: 7df8b07e
          state: present
          url: https://repos.influxdata.com/influxdata-archive.key
        become: true
        name: Debian | Download Telegraf apt key
        register: are_telegraf_dependencies_keys_installed
        until: are_telegraf_dependencies_keys_installed is succeeded
        when: (ansible_distribution == "Debian" and 
          ansible_distribution_major_version|int < 9) or (ansible_distribution 
          == "Ubuntu" and ansible_distribution_major_version|int < 18)
      - block:
          - ansible.builtin.stat:
              path: /usr/share/keyrings
            name: Debian | Ensure the shared keyrings directory exists
            register: usr_share_keyrings
          - ansible.builtin.file:
              group: root
              mode: '0755'
              owner: root
              path: /usr/share/keyrings
              state: directory
            become: true
            name: Debian | Create shared keyrings directory
            when:
              - not usr_share_keyrings.stat.exists
          - ansible.builtin.get_url:
              dest: /usr/share/keyrings/influxdata-archive.asc
              url: https://repos.influxdata.com/influxdata-archive.key
            become: true
            name: Debian | Install Telegraf apt key
            register: are_telegraf_dependencies_keys_installed
            until: are_telegraf_dependencies_keys_installed is succeeded
          - ansible.builtin.set_fact:
              telegraf_repository_params: '[signed-by=/usr/share/keyrings/influxdata-archive.asc]'
            name: Debian | Set Telegraf apt repository parameters
        when: (ansible_distribution == "Debian" and 
          ansible_distribution_major_version|int >= 9) or (ansible_distribution 
          == "Ubuntu" and ansible_distribution_major_version|int >= 18)
      - ansible.builtin.copy:
          content: deb {{ telegraf_repository_params | default('') }} 
            https://repos.influxdata.com/{{ ansible_distribution|lower }} {{ 
            ansible_lsb.codename }} stable
          dest: /etc/apt/sources.list.d/telegraf.list
        name: Debian | Add Telegraf repository (using LSB)
        when:
          - ansible_lsb is defined
          - ansible_lsb.codename is defined
      - ansible.builtin.copy:
          content: deb {{ telegraf_repository_params | default('') }} 
            https://repos.influxdata.com/{{ ansible_distribution|lower }} {{ 
            ansible_distribution_release }} stable
          dest: /etc/apt/sources.list.d/telegraf.list
        become: true
        name: Debian | Add Telegraf repository
        when:
          - ansible_lsb is not defined or ansible_lsb.codename is not defined
      - ansible.builtin.apt:
          name: '{{ telegraf_agent_package }}'
          state: '{{ telegraf_agent_package_state }}'
          update_cache: true
        become: true
        ignore_errors: '{{ ansible_check_mode }}'
        name: Debian | Install Telegraf package (repo)
        notify: Restart Telegraf
        register: is_telegraf_package_installed
        until: is_telegraf_package_installed is succeeded
        when:
          - telegraf_agent_package_method == "repo"
      - ansible.builtin.apt:
          name: '{{ telegraf_agent_package }}'
          state: '{{ telegraf_agent_package_state }}'
          update_cache: true
        become: true
        ignore_errors: '{{ ansible_check_mode }}'
        name: Debian | Install Telegraf package (repo)
        notify: Restart Telegraf
        register: is_telegraf_package_installed
        until: is_telegraf_package_installed is succeeded
    name: Debian | Configure Telegraf apt repository
    when:
      - telegraf_agent_package_method == "repo"
  - ansible.builtin.get_url:
      dest: '{{ telegraf_agent_package_path }}/{{ telegraf_agent_package }}'
      url: https://dl.influxdata.com/telegraf/releases/{{ 
        telegraf_agent_package_file_deb }}
      use_proxy: '{{ true if http_proxy is defined and http_proxy else false }}'
    environment:
      http_proxy: '{{ http_proxy | default(None) | default(omit) }}'
      https_proxy: '{{ https_proxy | default(None) | default(omit) }}'
    name: Debian | Download Telegraf package (online)
    when:
      - telegraf_agent_package_method == "online"
  - ansible.builtin.apt:
      allow_downgrade: true
      deb: '{{ telegraf_agent_package_path }}/{{ telegraf_agent_package }}'
      state: present
    become: true
    ignore_errors: '{{ ansible_check_mode }}'
    name: Debian | Install Telegraf package (online)
    notify: Restart Telegraf
    register: is_telegraf_package_installed
    until: is_telegraf_package_installed is succeeded
    when:
      - telegraf_agent_package_method == "online" or 
        telegraf_agent_package_method == "offline"
  - ansible.builtin.file:
      path: /etc/apt/sources.list.d/telegraf.list
      state: absent
    become: true
    name: Debian | Remove repository (online/offline install)
    when:
      - telegraf_agent_package_method == "online" or 
        telegraf_agent_package_method == "offline"
