---
- ansible.builtin.set_fact:
    telegraf_agent_package: telegraf
  name: FreeBSD | Set package name
- community.general.pkgng:
    name: '{{ telegraf_agent_package }}'
    state: '{{ telegraf_agent_package_state }}'
  name: FreeBSD | Install Telegraf package
  notify: Restart Telegraf
  register: is_telegraf_package_installed
  until: is_telegraf_package_installed is succeeded
- command: sysrc telegraf_flags="-quiet 
    -config-directory=/usr/local/etc/telegraf.d"
  name: FreeBSD | Add telegraf_flags for extra plugins
  tags:
  - skip_ansible_lint
- command: sysrc telegraf_enable="YES"
  name: FreeBSD | Add telegraf to init
  tags:
  - skip_ansible_lint
