- ansible.builtin.set_fact:
    telegraf_agent_package: telegraf-{{ telegraf_agent_version }}
  name: RedHat | Set name if state == latest
  when:
  - telegraf_agent_package_state != "latest"
- ansible.builtin.set_fact:
    telegraf_redhat_releasever: 7
  name: RedHat | Use RHEL 7 packages for Fedora
  when:
  - ansible_distribution == "Fedora"
- ansible.builtin.yum_repository:
    baseurl: '{{ telegraf_yum_baseurl[ansible_distribution|lower] | default(telegraf_yum_baseurl[''default''])
      }}'
    description: InfluxDB Repository - RHEL $releasever
    gpgcheck: '{{ telegraf_yum_gpgcheck | default(''true'') }}'
    gpgkey: '{{ telegraf_yum_gpgkey }}'
    name: influxdb
  become: true
  name: RedHat | Add yum repository
  when:
  - telegraf_agent_package_method == "repo"
- ansible.builtin.get_url:
    dest: '{{ telegraf_agent_package }}'
    url: https://dl.influxdata.com/telegraf/releases/{{ telegraf_agent_package_file_rpm
      }}
    use_proxy: '{{ true if http_proxy is defined and http_proxy else false }}'
  environment:
    http_proxy: '{{ http_proxy | default(None) | default(omit) }}'
    https_proxy: '{{ https_proxy | default(None) | default(omit) }}'
  name: RedHat | Download Telegraf package (online)
  when:
  - telegraf_agent_package_method == "online"
- ansible.builtin.package:
    name: '{{ telegraf_agent_package }}'
    state: '{{ telegraf_agent_package_state }}'
  become: true
  ignore_errors: '{{ ansible_check_mode }}'
  name: RedHat | Install Telegraf package
  notify: Restart Telegraf
  register: is_telegraf_package_installed
  until: is_telegraf_package_installed is succeeded
